.mail-nap:hover, .home-nap:hover, .blog-nap:hover{
    color: rgb(81, 81, 232);
}
.cardNews{
    background-color: #FFFFFF;
}
body{
    background-color: #F6F6F6;
    font-family: 'Poppins', sans-serif;
    
}
 .caregoru-quantity{
    background-color: #FFFFFF;
    padding: 15px;
    margin-bottom: 50px;
 }
 